<div class="category">
    <h2>Category</h2>
    <div class="category-container">
        <ul class="category-items">
            <li><a href="/filter?category=Travel">Travel</a></li>
            <li><a href="/filter?category=Food">Food</a></li>
            <li><a href="/filter?category=Lifestyle">Lifestyle</a></li>
            <li><a href="/filter?category=Health">Health</a></li>
            <li><a href="/filter?category=Fitness">Fitness</a></li>
            <li><a href="/filter?category=Education">Education</a></li>
            <li><a href="/filter?category=Technology">Technology</a></li>
            <li><a href="/filter?category=Finance">Finance</a></li>
            <li><a href="/filter?category=Career">Career</a></li>
            <li><a href="/filter?category=Relationships">Relationships</a></li>
            <li><a href="/filter?category=Parenting">Parenting</a></li>
            <li><a href="/filter?category=Fashion">Fashion</a></li>
            <li><a href="/filter?category=Beauty">Beauty</a></li>
            <li><a href="/filter?category=DIY">DIY</a></li>
            <li><a href="/filter?category=Photography">Photography</a></li>
            <li><a href="/filter?category=Books">Books</a></li>
            <li><a href="/filter?category=Movies">Movies</a></li>
            <li><a href="/filter?category=Music">Music</a></li>

        </ul>
    </div>
</div>