<footer class="footer">
    <div class="footer-content">
        <p class="footer-tagline">Stay Connected with BlogPost</p>
        <div class="footer-links">
            <a href="https://www.facebook.com" target="_blank" class="footer-link"><i
                    class="fa-brands fa-square-facebook"></i></a>
            <a href="https://www.twitter.com" target="_blank" class="footer-link"><i
                    class="fa-brands fa-square-x-twitter"></i></a>
            <a href="https://www.instagram.com" target="_blank" class="footer-link"><i
                    class="fa-brands fa-square-instagram"></i></a>
        </div>
        <p class="footer-copyright">&copy; 2024 BlogPost. All rights reserved.</p>
    </div>
</footer>