<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up & Login</title>
    <link rel="stylesheet" href="/css/register.css">
    <link rel="stylesheet" href="/css/app.css">
    <link rel="icon" href="images/favicon.png">
</head>

<body class="body">
    <div class="container">
        <!-- Sign Up Form -->
        <div class="form-container" id="signup-form" <%=showSignup ? '' : 'style="display:none;"' %>>
            <h2>Sign Up</h2>
            <form action="/register" method="POST">
                <input type="text" name="username" placeholder="Username" required>
                <input type="email" name="email" placeholder="Email" required>
                <input type="password" name="password" placeholder="Password" required>
                <button type="submit">Sign Up</button>
            </form>
            <p>Already have an account? <a href="/login">Login</a></p>
        </div>
</body>

</html>