<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" href="css/postNotFound.css">
    <link rel="icon" href="images/favicon.png">
    <title>User Not Found</title>
</head>

<body>
    <div class="not-found-container">
        <div class="notFoundImg">
            <img src="/images/notFound.png" alt="">
        </div>
        <div class="msg">
            <h1 class="not-found-title">User Not Found</h1>
            <p class="not-found-message">Sorry, we couldn't find any User.</p>
            <button class="go-back">
                <a href="/" class="go-back-link">Register as New User</a>
            </button>
        </div>
    </div>
</body>

</html>